<fieldset>
    <label for="floorMapX-{{$index}}" class="inline">X:</label>
    <input id="floorMapX-{{$index}}" class="xnarrow input" name="floorMapX" type="text" ng-model="form.floormap[$index].coords.x" />
    <label for="floorMapY-{{$index}}" class="inline">Y:</label>
    <input id="floorMapY-{{$index}}" class="xnarrow input" name="floorMapY" type="text" ng-model="form.floormap[$index].coords.y" />
    <label for="floorNumber-{{$index}}" class="inline">Número de pisos:</label>
    <input id="floorNumber-{{$index}}" class="xnarrow input" name="floorNumber" type="text" ng-model="form.floormap[$index].floors" />
    <input type="button" value="Borrar piso" ng-click="removeFloor($index)"/>
    </div>
</fieldset>